
**Understanding pandas**

In [40]:
# importing libraries
import pandas as pd

In [41]:
#storing the file path 
FILENAME ="/home/nueltaj/Downloads/py/data_visualization/AB_NYC_2019.csv"
#reading the dataset
df = pd.read_csv(FILENAME)

In [42]:
#display the first 5 rows
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [43]:
#to get  info of a dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [44]:
#to check duplicated values in a DataFrame
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
48890    False
48891    False
48892    False
48893    False
48894    False
Length: 48895, dtype: bool

In [45]:
#to check if there is any duplicated values in the dataframe
#it prints out one value
df.duplicated().any()

np.False_

In [46]:
#if duplicated values exist
df=df.drop_duplicates(subset=None, ignore_index=False)

In [47]:
#finding missing values
df.isnull()
#or
df.isna() #i prefer this guy

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48891,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48892,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48893,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48894,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False

In [48]:
#finding missing values but ouput in a columar format
df.isna().any()

id                                False
name                               True
host_id                           False
host_name                          True
neighbourhood_group               False
neighbourhood                     False
latitude                          False
longitude                         False
room_type                         False
price                             False
minimum_nights                    False
number_of_reviews                 False
last_review                        True
reviews_per_month                  True
calculated_host_listings_count    False
availability_365                  False
dtype: bool

In [49]:
#to get the column-wise sum of the null values present in the dataset.
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [50]:
# Filling the missing values in a DataFrame  
df.fillna(value={  
    'name': 'Not Stated',  
    'host_name': 'Not Stated',  
    'last_review': 0  
}, inplace=True)

In [51]:
# Dropping columns in a DataFrame
df.drop(['reviews_per_month'],axis=1,inplace=True)

In [52]:
#display column names
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

In [53]:
#to check if a column has unique values
df['id'].is_unique

True

In [54]:
# Changing the index of a DataFrame
# it's advisable to check if the column we wish to be the index has unique values
# we use the .is_unique
# if True, we proceed to
df.set_index("id", inplace=True)

In [56]:
df.head()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,6,365
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0,1,365
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,1,0

In [55]:
# display the 5th record of the dataset
df.iloc[4]

name                              Entire Apt: Spacious Studio/Loft by central park
host_id                                                                       7192
host_name                                                                    Laura
neighbourhood_group                                                      Manhattan
neighbourhood                                                          East Harlem
latitude                                                                  40.79851
longitude                                                                -73.94399
room_type                                                          Entire home/apt
price                                                                           80
minimum_nights                                                                  10
number_of_reviews                                                                9
last_review                                                             2018-11-19
calculated_host_listings_count                                                   1
availability_365                                                                 0
Name: 5022, dtype: object

In [57]:
# Renaming Columns of a DataFrame
new_col ={'name':'listing_name','number_of_reviews':'reviews'}
df.rename(columns=new_col,inplace=True)
df.head()

,listing_name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,reviews,last_review,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,6,365
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0,1,365
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,1,0

In [60]:
# check the datatype of a column
df["last_review"].dtype.type
print(df['last_review'].unique())

['2018-10-19' '2019-05-21' 0 ... '2017-12-23' '2018-01-29' '2018-03-29']

In [61]:
# Replacing non-date values (like "0") with None  
df['last_review'] = df['last_review'].replace({"0": None})

In [64]:
# Converting the Data Type of Columns
# Since column is in date, we want to pandas datetime format
df['last_review']=pd.to_datetime(df['last_review'],format='%Y-%m-%d',errors='coerce')

In [66]:
df['last_review'].dtype.type

numpy.datetime64

In [67]:
#Converting the Data Type 
df['host_id'] = df['host_id'].astype('int32')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48895 entries, 2539 to 36487245
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   listing_name                    48895 non-null  object
 1   host_id                         48895 non-null  int32
 2   host_name                       48895 non-null  object
 3   neighbourhood_group             48895 non-null  object
 4   neighbourhood                   48895 non-null  object
 5   latitude                        48895 non-null  float64
 6   longitude                       48895 non-null  float64
 7   room_type                       48895 non-null  object
 8   price                           48895 non-null  int64
 9   minimum_nights                  48895 non-null  int64
 10  reviews                         48895 non-null  int64
 11  last_review                     38843 non-null  datetime64[ns]
 12  calculated_host_listings_count  48895 non-null  int64
 13  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(5), object(5)
memory usage: 5.4+ MB