_This script is responsible for creating several excel sheets for a particuarlar car seller_

_Monthly Sales Summary Report_

In [26]:
# Importing libraries
import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import Font, PatternFill
from openpyxl.utils import get_column_letter

In [27]:
# Storing file path
FILENAME = '/home/nueltaj/Downloads/py/data_visualization/Walmart_Sales.xlsx'
# Reading file
ws = pd.read_excel(FILENAME)
ws.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [28]:
# Data cleaning
ws.info()
# Check for missing values
ws.isna().any()
# check for duplicated values
ws.duplicated()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

0       False
1       False
2       False
3       False
4       False
        ...
6430    False
6431    False
6432    False
6433    False
6434    False
Length: 6435, dtype: bool

In [29]:
# convert the date column into pandas date format
ws['Date'] = pd.to_datetime(ws['Date'], dayfirst = True)
# create a  MOnth column with  monthly intervals
ws['Month'] = ws['Date'].dt.to_period('M')

In [30]:
ws.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,2010-02
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,2010-02
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,2010-02
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,2010-02
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106,2010-03

In [31]:
# group the other columns by month
monthly_ws = ws.groupby('Month').agg({
    'Store': 'last',
    'Weekly_Sales': 'sum',
    'Holiday_Flag': 'sum',
    'Temperature': 'mean',
    'Fuel_Price': 'mean',
    'CPI':'mean',
    'Unemployment':'mean'

}).reset_index()

In [32]:
monthly_ws=monthly_ws.rename(columns={'Weekly_Sales':'Monthly_Sales'})

In [33]:
monthly_ws

,Month,Store,Monthly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,2010-02,45,1.903330e+08,45,36.288000,2.691967,167.834459,8.619311
1,2010-03,45,1.819198e+08,0,47.194389,2.786706,167.930846,8.619311
2,2010-04,45,2.314124e+08,0,56.901378,2.868538,167.678437,8.497711
3,2010-05,45,1.867109e+08,0,65.364389,2.917350,167.641758,8.497711
4,2010-06,45,1.922462e+08,0,75.076556,2.788006,168.004688,8.497711
5,2010-07,45,2.325801e+08,0,79.347511,2.773996,168.001633,8.428578
6,2010-08,45,1.876401e+08,0,78.919722,2.783000,168.211886,8.428578
7,2010-09,45,1.772679e+08,45,72.801333,2.734517,168.255024,8.428578
8,2010-10,45,2.171618e+08,0,62.161911,2.807280,168.453666,8.475289
9,2010-11,45,2.028534e+08,45,49.778667,2.886272,168.601460,8.475289
10,2010-12,45,2.887605e+08,45,39.813556,2.988098,168.459270,8.475289
11,2011-01,45,1.637040e+08,0,34.387222,3.113956,168.791818,8.291200
12,2011-02,45,1.863313e+08,45,37.919778,3.173000,169.590035,8.291200
13,2011-03,45,1.793564e+08,0,49.115000,3.521983,170.323888,8.291200
14,2011-04,45,2.265265e+08,0,56.532444,3.769960,171.000805,8.150133
15,2011-05,45,1.816482e+08,0,63.783389,3.964378,171.376996,8.150133
16,2011-06,45,1.897734e+08,0,74.823833,3.784106,171.226784,8.150133
17,2011-07,45,2.299114e+08,0,80.412978,3.689222,171.572535,8.097489
18,2011-08,45,1.885993e+08,0,80.286333,3.696072,171.894833,8.097489
19,2011-09,45,2.208477e+08,45,73.049511,3.645956,172.254241,8.097489
20,2011-10,45,1.832613e+08,0,60.855111,3.523706,172.909653,7.804222
21,2011-11,45,2.101624e+08,45,50.032889,3.483117,173.258509,7.804222
22,2011-12,45,2.880781e+08,45,40.546933,3.330524,173.749853,7.804222
23,2012-01,45,1.688945e+08,0,40.822833,3.368350,174.267656,7.508333
24,2012-02,45,1.920636e+08,45,42.494944,3.533872,174.618349,7.508333
25,2012-03,45,2.315097e+08,0,52.489644,3.815524,175.141545,7.508333
26,2012-04,45,1.889209e+08,0,59.858667,3.974544,175.496643,7.419533
27,2012-05,45,1.887665e+08,0,67.236944,3.849811,175.615439,7.419533
28,2012-06,45,2.406103e+08,0,75.620756,3.639649,175.603775,7.419533
29,2012-07,45,1.875095e+08,0,79.403500,3.505067,175.667184,7.237333
30,2012-08,45,2.368508e+08,0,78.747067,3.689480,175.775079,7.237333
31,2012-09,45,1.806455e+08,45,71.239056,3.864272,176.185210,7.237333
32,2012-10,45,1.843617e+08,0,61.518056,3.853361,176.610915,6.953711

In [34]:
# loading the excel file
workbook = load_workbook('/home/nueltaj/Downloads/py/data_visualization/Walmart_Sales.xlsx')

# Sheet name
sheet = workbook['Sheet1']

In [37]:
# Setting the font for the sheets
header_font = Font(bold=True, name = 'Gentium')
header_fill = PatternFill(start_color='FF0000', end_color='FF0000', fill_type='solid')

for cell in sheet[1]:
    cell.font = header_font
    cell.fill = header_fill

# Formatting the excel sheet
min_width = 12
for column_cells in sheet.iter_cols():
    max_length = 0
    column_letter = get_column_letter(column_cells[0].column)
    for cell in column_cells:
        try:
            if cell.value:
                cell_length = len(str(cell.value))
                if cell_length > max_length:
                    max_length = cell_length
        except None:
            pass
        adjusted_width = max(max_length + 2,min_width)
        sheet.column_dimensions[column_letter].width = adjusted_width

In [38]:
# writing to an excel sheet 
workbook.save('Monthly_walmart_sales.xlsx')